@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 70px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #111111;
    display: block;
    color: white;
}

#menu{
    display: none;
}

.menu-icono {
    width: 25px;
    margin: 0 10px;
    cursor: pointer;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative;
    display: flex;
    align-items: center;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-height: 400px;
    width: 350px; /* Aumenta el ancho del recuadro */
}

table {
    width: 100%;
}

th, td {
    color: #FFFFFF;
    padding: 10px; /* Añade padding para espaciar el contenido */
    text-align: left; /* Alinea el texto a la izquierda */
}

th {
    font-weight: bold;
}

.borrar {
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
}

.header{
    background-color: #7C7EA9;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: -10 50px;
}

.header-img{
    text-align: left;
    width: 100%;
}

.header-txt{
    flex-basis: 50%;
    text-align: center;
    color: #DCDCDC;
}

.header-txt h1{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 30px;
}

.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #c0c2e8;
    color: #FFFFFF;
    border-radius: 5px;
}

.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #F5F5F5;
    padding: 35px;
}

.ofert-img{
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img{
    width: 250px;
}

.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3{
    color: #111111;
    font-family: 'Oswald',sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#botones-carrito {
    text-align: center; /* Centra los elementos dentro del contenedor */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.btn-carrito{
    display:inline-block;
    padding: 7px 10px;
    background-color: #7C7EA5;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 15px;
    border-color: #7C7EA5;
}

.btn-carrito:hover{
    background-color: white;
    color: #5d5e7e;
    border-radius: 15px;
    font-size: 15px;
}

.products{
    padding: 50px 0;
    text-align: center;
}

.ofertss h2{
    color: #5d5e7e;
    font-family: 'Oswald',sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
}

.products h2{
    color: #5d5e7e;
    font-family: 'Oswald',sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;;
}

.product {
    position: relative;
    width: 250px; /* Adjust as needed */
    padding: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-5px);
}

.product img{
    width: 100%; 
    height: auto;
    object-fit: cover; 
    font-size: 18px;
    margin-bottom: 10px; 
}

.product h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio{
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;
}

.precio{
    font-weight: 800;
}

.icons{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #F5F5F5;
}

.icon-txt h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}

.icon-txt p{
    font-size: 16px;
    color: #111111;
}

.blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1{
    flex-basis: calc(33.3% - 30px)
}

.blog-1 img{
    margin-bottom: 20px;
}

.blog-1 h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p{
    font-size: 16px;
    color: #111111;
}

.footer{
    padding: 50px 0;
    background-color: #111111;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a{
    font-size: 16px;
    color: #DCDCDC;
    display: block;
    margin-bottom: 10px;
}

.tachado {
    text-decoration: line-through;
    color: grey;
}

.descuento {
    position: absolute;
    display: none;
    top: 10px;
    left: 10px;
    background: #7C7EA5;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    z-index: 10;
}

/* Estilos para el rating de estrellas */
.star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 15px 0;
}

.star {
    font-size: 18px;
    color: gold;
}

.full {
    color: gold;
}

.precio {
    font-size: 16px;
    margin-bottom: 15px;
}

.tachado {
    text-decoration: line-through;
    color: grey;
    margin-right: 10px;
}

.agregar-carrito {
    color: #fff;
    background-color: #5d5e7e;
    border: 1px solid #5d5e7e;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.agregar-carrito:hover {
    color: #5d5e7e;
    background-color: #fff;
    border-color: #5d5e7e;
    border-radius: 3cm;
}



.carousel-container {
    display: flex;
    overflow-x: auto;
    align-items: center;
    height: 150px;
    width: 100%; 
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    margin-right: 10px;
    background-color: #F5F5F5;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .product {
        width: 100%;
    }
}



/* Responsive Styles */
@media (max-width: 991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
        flex-direction: column;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu ul li a {
        color: #FFFFFF;
    }

    #menu:checked ~ .navbar {
        display: flex;
    }

    .logo {
        display: none;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img {
        display: none;
    }

    .header-txt {
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 70px;
    }

    .ofert {
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .ofert-1 {
        margin-bottom: 30px;
    }

    .products {
        padding: 0 30px 30px 30px;
    }

    .products h2 {
        margin-bottom: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product img {
        width: 200px;
        height: 280px;
    }

    .icons {
        padding: 30px;
        flex-direction: column;
    }

    .icon-1 {
        margin-bottom: 30px;
    }

    .icon {
        width: 24px;
        height: 24px; 
    }

    .blog {
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .blog-1 {
        margin-bottom: 30px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }   
}

@media (max-width: 768px) {
    .product {
        width: 100%;
    }

    .descuento {
        display: none;
        top: 5px;
        left: 5px;
    }
}

@media (max-width: 600px) {
    .header-txt h1 {
        font-size: 50px;
    }

    .product img {
        width: 150px;
        height: 220px;
    }

    .products {
        padding: 0 20px 20px 20px;
    }

    .products h2 {
        font-size: 30px;
    }

    .footer {
        padding: 20px;
    }
}